.main__contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  max-width: 400px;
}

.addfood-form__column {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.addfood-form__label,
.addfood-form__label--photo{
  color: rgb(190, 136, 34);
  font-size: 12px;
  background-color: aliceblue;
  position: relative;
  left: 20px;
  top: 4px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 0;
}

.addfood-form__label--photo{
  margin-top: 10px;
  margin-bottom: 5px;
}
.addfood-form__input {
  border-radius: 15px;
  border-color: orange;
  padding: 5px;
  width: 220px;
  background-color: aliceblue;
}

.container__filteredit--button {
  background-color: rgb(196, 131, 11);
  color: white;
  border: 1px solid orange;
  border-radius: 5px;
  padding: 7px;
  font-size: 16px;
  cursor: pointer;
  margin: 20px auto;
}

.container__filteredit--button:hover {
  background-color: orange;
  color: white;
  border: 1px solid orange;
}
