.main__contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  max-width: 400px;
}

.Form__ADD {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  background-color: whitesmoke;
}

.contact-form__column {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.contact-form__label {
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}

.contact-form__input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  display: flex;
}

.container__filter--button {
  padding: 10px 20px;
  background-color: rgb(233, 158, 18);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.container__filter--button:hover {
  background-color: rgb(190, 136, 34);
}

