.main__addfood-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  max-width: 400px;
}

.addfood-form__column {
  display: flex;
  flex-direction: column;
}

.addfood-form__label,
.addfood-form__label--photos {
  color: rgb(190, 136, 34);
  font-size: 12px;
  background-color: aliceblue;
  position: relative;
  left: 20px;
  top: 4px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 0;
}

.addfood-form__label--photos{
  left: 55px
}

.addfood-form__input,
.addfood-form__input--select {
  border-radius: 15px;
  border-color: orange;
  padding: 5px;
  width: 220px;
  background-color: aliceblue;
}

.addfood-form__input--select{
  width: 240px;
  border: 2px solid orange;
  margin-bottom: 20px;
}

.container__filteradd--button {
  background-color: rgb(196, 131, 11);
  color: white;
  border: 1px solid orange;
  border-radius: 5px;
  padding: 7px;
  font-size: 16px;
  cursor: pointer;
  margin: 20px auto;
}

.container__filteradd--button:hover {
  background-color: orange;
  color: white;
  border: 1px solid orange;
}




