* {
  font-family: 'Roboto', sans-serif;
}

.container__login {
  width: 300px;
  text-align: center;
  border: 3px solid orange;
  border-radius: 50px;
  box-shadow: 5px 5px 8px gray;
  margin: 50px auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: aliceblue;
}
.container__login:hover {
  box-shadow: 7px 7px 10px gray;
}

.container__login--title {
  font-size: 25px;
  font-weight: bold;
  margin: 20px auto;
  color: orange;
}

.container__login--form {
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.container__login--label {
  color: rgb(190, 136, 34);
  font-size: 12px;
  background-color: aliceblue;
  position: relative;
  left: -70px;
  top: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

.container__login--label:first-child {
  width: 30px;
  left: -80px;
}

.container__login--input {
  border-radius: 15px;
  border-color: orange;
  padding: 3px;
  width: 230px;
  background-color: aliceblue;
  margin-bottom: 10px;
  padding-left: 15px;
}

.container__login--button {
  background-color: rgb(196, 131, 11);
  color: white;
  border: 1px solid orange;
  border-radius: 15px;
  padding: 7px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 20px;
}

.container__login--button:hover {
  background-color: orange;
  color: white;
  border: 1px solid orange;
}

.container__login--forgot {
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 20px;
  text-align: right;
  margin-right: 20px;
  font-style: italic;
}

.container__login--a{
  color: rgb(190, 136, 34);
}

.container__login--a:hover{
  color: orange;
}

@media (min-width: 576px) {
  .container__login {
    width: 400px;
    padding: 20px;
    margin-top: 50px;
  }

  .container__login--label {
    font-size: 12px;
    display: flex;
    width: 55px;
  }

  .container__login--label:first-child {
    width: 30px;
  }

  .container__login--input {
    font-size: 20px;
    margin-bottom: 20px;
    padding: 6px;
    font-size: 13px;
  }

  .container__login--button {
    padding: 7px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 25px;
    margin-bottom: 10px;
  }
}
