.container__home {
  max-width: 350px;
  margin-top: 50px;
  font-family: 'Roboto', sans-serif;
}

.container__home--promoimg {
  display: flex;
  flex-direction: column;
}

.container__home--promoimg--img {
  margin-top: 30px;
  margin-bottom: 30px;
}

.container__home__cardrests {
  display: flex;
  flex-wrap: wrap;
  color: black;
  gap: 5px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.container__home__cardrests--rest{
border: 1px solid gray;
padding: 10px;
}

.container__home__cardrests--rest:hover{
  background-color: orange;
  color: white;
  }

.container__home__cardrests--item {
  color: black;
}

@media (min-width: 576px) {
  .container__home {
    margin-top: 50px;
    text-align: center;
  }

  .container__home--promoimg {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  .container__home--promoimg--img {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
  }

  .container__home--promoimg--img:hover {
    filter: opacity(0.5);
    cursor: pointer;
  }
}
