img {
  width: 100%;
}

.header-container {
  background: orange;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.avatar--img{
  width: 2em;
  height: 2em;
  border-radius: 50%;
  margin-left: -75px;
}
.header-container__items--title--nick{
  /* border: 1px solid white; */
  width: 80px;
  display: flex;
  align-items: center;
  margin-top: -8px;
}
.nick{
  position: fixed;
  margin-top: 8px;
  margin-left: -35px;
}

.header-container__items {
  display: flex;
  position: relative;
  gap: 50px;
  margin: 0 auto;
}
.header-container__items:hover,
.header-container--toggle:hover {
  cursor: pointer;
}

.header-container__items--access{
margin-left: 200px;
width: 30px;
text-align: center;
font-size: 18px;
}

.header-container__items--international{
  display: block;
  margin-left: -20px
}

.header-container__logo {
  font-weight: bold;
  font-size: 20px;
  margin: 15px;
  color: white;
}
a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: #212355;
}

.header-container--toggle {
  display: none;
}

@media (max-width: 768px) {
  .header-container__items {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 160px;
    transform: translateX(100%);
    transition: 0.3s ease all;
  }

  .header-container__items--title,
  .header-container__items--title--nick {
    margin-left: 140px;
  }

  .header-container__items--access{
    margin-left: 140px;
  }

  .header-container__logo{
    margin-top:-400px
  }

  .header-container__items--international{
    position: absolute;
    top:-34px;
    left: 80px;
  }

  .header-container__items.open {
    transform: translateX(0) !important;
  }

  .header-container--toggle {
    display: flex !important;
    flex-direction: column;
    margin: 15px;
  }

  .header-container--toggle span {

    width: 30px;
    height: 4px;
    background-color: white;
    margin-bottom: 5px;
    border-radius: 2px;
    transform-origin: 5px 0px;
    transition: all 0.2s linear;
  }
  .header-container--toggle.open > span {
    transform: rotate(45deg) translate(0px, 0px);
    margin-top: -215px;
    margin-left: 20px;
  }

  .header-container--toggle.open > span:nth-child(2) {
    display: none;
  }

  .header-container--toggle.open > span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px, 1px);
    margin-top: 0
  }
}

@media (max-width: 768px) {
  .header-container__items {
    display: none;
  }

  .header-container__items.open {
    transform: translateX(0) !important;
    display: block;
    position: relative;
    padding-top: 40px;
    top: 60px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 450px;
    transform: translateX(100%);
    transition: 0.3s ease all;
  }

  .badge{
    margin-top: -500px;
    margin-left: 90px;
  }

  .header-container--toggle {
    display: flex !important;
    flex-direction: column;
    margin: 15px;

  }

  .header-container--toggle.open > span {
    transform: rotate(45deg) translate(0px, 0px);
  }

  .header-container--toggle.open > span:nth-child(2) {
    display: none;
  }


  .header-container--toggle.open > span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px, 1px);
  }

  .header-container__items__login {
    margin-left: 135px;
  }

  .header-container__items__register {
    margin-left: 135px;
  }
}
