.containter__filter {
  text-align: center;
  margin-top: -60px;
  width: 100%;
}

::placeholder {
  color: rgba(210, 196, 196, 0.77);
  padding-left: 10px;
  font-style: italic;
  font-size: 12px;
}

.container__filter--input {
  border-radius: 5px;
  border: 2px solid orange;
  padding: 5px;
}

.container__filter--button {
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(196, 131, 11);
  color: white;
  font-weight: bold;
  border-color: orange;
  margin-left: 10px;
}

.container__filter--button:hover {
  background-color: orange;
  color: white;
}

@media (min-width: 576px) {
  .containter__filter {
    margin-top: -100px;
    margin-bottom: 100px;
    width: 100%;
    text-align: center;
  }

  ::placeholder {
    font-size: 12px;
  }

  .container__filter--input {
    padding: 7px;
    font-size: 14px;
  }

  .container__filter--button {
    padding: 10px;
    font-size: 14px;
    margin-left: 10px;
  }
}
