.main__editrest--formUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  max-width: 400px;
}

.editrest--title {
  font-size: 25px;
  font-weight: bold;
  color: orange;
}

.editrest__formUp--column {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.editrest__formUp--label,
.editrest__formUp--label--logo {
  color: rgb(190, 136, 34);
  font-size: 12px;
  background-color: aliceblue;
  position: relative;
  left: 70px;
  top: 4px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 0;
}


.editrest__formUp--input {
  border-radius: 15px;
  border-color: orange;
  padding: 5px;
  width: 220px;
  background-color: aliceblue;
}


.editrest__form--button,
.editrest__form--button--delete {
  background-color: rgb(196, 131, 11);
  color: white;
  border: 1px solid orange;
  border-radius: 5px;
  padding: 7px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.editrest__form--button--delete{
  display: flex;
  margin:0 auto;
  background-color: red;
}

.editrest__form--button:hover,
.editrest__form--button--delete:hover {
  background-color: orange;
  color: white;
  border: 1px solid orange;
}
