.main__contact--formUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  max-width: 400px;
}

.edit--hotel {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.contact__formUp--column {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.contact__formUp--label {
  font-weight: bold;
  margin-bottom: 5px;
}

.contact__formUp--input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.contact__formUp--button {
  padding: 10px 20px;
  background-color: rgb(233, 158, 18);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  text-align: left;
}

.contact__formUp--button:hover {
  background-color: rgb(190, 136, 34);
}
