.container__bestfood {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
}

.container__bestfood__text {
  margin-left: 20px;
  margin-right: 10px;
}

.container__bestfood__text--title {
  margin-bottom: 15px;
}

.container__bestfood__text--description {
  margin-bottom: 30px;
  color: gray;
}

.container__bestfood__text__download--title {
  margin-bottom: 15px;
}

.container__bestfood__text__download--icons {
  display: flex;
  margin-left: -30px;
}

.container__bestfood__text__download--apple {
  color: orange;
  padding: 10px;
  width: 120px;
  display: flex;
  align-items: center;
}

.container__bestfood__download--android {
  color: orange;
  padding: 5px;
  width: 120px;
  display: flex;
  align-items: center;
}

.container__bestfood__text__download--apple:hover,
.container__bestfood__download--android:hover {
  background-color: orange;
  color: white;
  cursor: pointer;
}

.container__bestfood__img {
  display: none;
}

@media (min-width: 576px) {
  .container__bestfood {
    text-align: left;
    display: flex;
    align-items: center;

  }

  .container__bestfood__text--title {
    font-size: 25px;
  }

  .container__bestfood__text--description {
    font-size: 20px;
  }

  .container__bestfood__img {
    display: block;
    width: 100%;
  }

  .container__bestfood__text__download--title {
    font-size: 20px;
  }

  .container__bestfood__text__download--icons {
    font-size: 18px;
    padding-bottom: 30px;
  }

  .container__bestfood__text__download--apple{
    margin-left: 30px;
  }

  .container__bestfood__download--android{
    margin-left: -30px;
  }

}
