* {
  font-family: 'Roboto', sans-serif;
}
.container__register {
  text-align: center;
  border: 3px solid orange;
  border-radius: 50px;
  box-shadow: 5px 5px 8px gray;
  margin: 40px auto 15px;
  background-color: aliceblue;
  width: 330px;
}

.container__register:hover {
  box-shadow: 7px 7px 10px gray;
}

.container__register--title {
  font-size: 25px;
  font-weight: bold;
  margin: 20px auto;
  color: orange;
}

.container__register__form {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */

  margin-top: 20px;
}

.container__register--label,
.container__register--label-s,
.container__register--label-l {
  color: rgb(190, 136, 34);
  font-size: 12px;
  background-color: aliceblue;
  position: relative;
  left: 80px;
  top: 7px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 0;
}
.container__register--label-s {
  /* margin-left: -22px; */
  top: 7px;
}

.container__register--label-l {
  /* margin-left: 40px; */
  top: 7px;
}

.container__register--input {
  border-radius: 15px;
  border-color: orange;
  padding: 5px;
  width: 220px;
  background-color: aliceblue;
  margin-bottom: 15px;
}
.container__register--box {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.container__register--button {
  background-color: rgb(196, 131, 11);
  color: white;
  border: 1px solid orange;
  border-radius: 15px;
  padding: 7px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 20px;
}

.container__register--button:hover {
  background-color: orange;
  color: white;
  border: 1px solid orange;
}

@media (min-width: 376px) {
  .container__register {
    padding: 20px;
    width: 400px;
    margin: 40px auto;
  }

  .container__register--label {
    left: 100px;
    text-align: left;
  }
  .container__register--label-s{
    left: 100px;
  }

  .container__register--label-l {
    left: 100px;
  }

  .container__register--input {
    font-size: 20px;
    margin-bottom: 15px;
    width: 260px;
    font-size: 13px;
    padding: 8px;
  }

  .container__register--button {
    padding: 7px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 25px;
    margin-bottom: 10px;
  }
}
