body {
  background-color: ghostwhite;
}

.cardrest {
  background-color: white;
  width: 360px;
  margin: 20px 10px 10px 10px;
}

.cardrest__logo {
  margin-bottom: -120px;
}

.cardrest__info {
  font-size: 16px;
  margin-left: 5px;
}
.cardrest__info--title {
  display: flex;
  margin-top: 120px;
}

.cardrest__info--name {
  font-size: 18px;
  margin-right: 8px;
  margin-top: -80px;
  height: 40px;
  background-color: white;
  color: orange;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 4px;
}
.cardrest__info--calification {
  color: white;
  background-color: orange;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 4px;
  width: 80px;
  font-size: 18px;
  text-align: center;
  height: 40px;
  margin-top: -80px;
}

@media (min-width: 576px) {
  .cardrest {
    margin: 20px auto;
    width: 450px;
  }

  .cardrest__info--name {
    font-size: 22px;
    margin-top: -200px;
  }

  .cardrest__info--calification {
    margin-top: -200px;
  }
}
