.container{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-left: 50px;
}
.cardrest{
  font-family:'Roboto', sans-serif;
  margin: 0 auto;
  display: grid;
  background-color: ghostwhite;
  width: 800px;
  margin-top: 10px;
}
.cardrest__logo{
  width: 100%;
  margin: 0 auto;
}
.cardrest__info{
  font-size: 25px;
  margin-left: 30px;
}
.cardrest__info--title{
  display: flex;
  margin-top: 10px;
}
.cardrest__info--name{
  float: left;
  margin-left: 20px;
}
.cardrest__info--calification{

  margin-left: 40px;
  color: white;
  background-color: green;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  width: auto;
}

@media (min-width: 768px){
  .container{
    display: flex;
    grid-template-columns: repeat(3, 1fr);
  }
  .cardrest{
    margin: 25px;
    width: 450px;
  }
  .cardrest__logo{
    height: 30%;
  }
  .cardrest__info{
    font-size: 12px;
    margin-left: 30px;
  }
}

