body {
  background-color: ghostwhite;
}

.cardrest {
  background-color: white;
  width: 360px;
  margin: 20px 10px 10px 10px;
}

.cardrest__logo {
  margin-bottom: -120px;
}

.cardrest__info {
  font-size: 16px;
  margin-left: 5px;
}
.cardrest__info--title {
  display: flex;
  flex-direction: column;
  margin-top: 220px;
  width: 300px;
  margin-bottom: -100px;
  text-align: center;
}

.cardrest__info--name {
  font-size: 16px;
  height: 40px;
  color: black;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 4px;
}
.cardrest__info--calification {
  color: black;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 4px;
  font-size: 16px;
  height: 40px;
  margin-top: -15px;
}

.cardrest__info--icon{
margin-top: -215px;
font-size: 25px;
}

@media (min-width: 576px) {
  .cardrest {
    margin: 20px auto;
    width: 450px;
  }
  .cardrest__info--title {
    margin-top: 40px;
    margin-bottom: 80px;
  }

  .cardrest__info--name {
    font-size: 22px;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .cardrest__info--calification {
    font-size: 22px;
  }

  .cardrest__info--icon{
    font-size: 40px;
  }
}

@media (min-width: 768px) {

  .cardrest__info--title {
    margin-top: 120px;
    margin-bottom: 0px;
  }

}
