.container__restdetail--rest {
  display: flex;
  border: 3px solid orange;
  box-shadow: 5px 5px 8px gray;
  border-radius: 50px;
  padding: 10px;
  width: 250px;
  margin: 20px auto;
  text-align: center;
}

.container__restdetail--rest--img{
  width: 100px;
  border-radius: 50%;
}
.container__restdetail--title {
  font-size: 25px;
  font-weight: bold;
  margin: 20px auto;
  color: orange;
  text-align: center;
}

.container__restdetail--rest--info {
  color: black;
  width: 250px;
  margin-bottom: 10px;
}

.container__restdetail--rest:hover {
  cursor: pointer;
  box-shadow: 7px 7px 10px gray;
}
.container__restdetail--rest--info:hover{
  color: orange;
}

@media (min-width: 576px) {
  .container__restdetail--box {
    display: flex;
    flex-wrap: wrap;
  }
}
