* {
  margin: 0 auto;
}

.container__food {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  text-align: center;
  padding-top: 40px;
  justify-content: center;
}

.container__food--label {
  font-size: 16px;
  color: rgb(190, 136, 34);
}
span {
  display: flex;
  color: rgb(190, 136, 34);
  font-size: 12;
  margin-left: 40px;
  margin-bottom: 20px;
}

.container__food--button {
  border: transparent;
  background-color: ghostwhite;
  border-radius: 50px;
}

.container__food--button:hover {
  width: 150px;
  cursor: pointer;
}

.container__food--img {
  border-radius: 10px;
  width: 120px;
  padding-top: 10px;
}

@media (min-width: 576px) {
  .container__food {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-bottom: 30px;
    gap: 15px;
    margin-top: -20px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
  }
  .container__food--label {
    font-size: 18px;
  }
  .container__food--img:hover {
    width: 105%;
    cursor: pointer;
  }

  span {
    margin-left: 20px;
  }
}
