.container__food {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 350px;
  text-align: center;
}

.container__food--label {
  font-size: 16px;
}

.container__food--button {
  border: transparent;
  background-color: white;
  border-radius: 50px;
}

.container__food--button:hover {
  width: 150px;
  cursor: pointer;
}

.container__food--img {
  border-radius: 10px;
}

@media (min-width: 476px) {
  .container__food {
    display: flex;
    gap: 10px;
    width: 650px;
    text-align: center;
  }
  .container__food--label {
    font-size: 15px;
  }
  .container__food--button:hover {
    width: 1700px;
    cursor: pointer;
  }
}
