.Delete--btn {
  background-color: rgb(196, 131, 11);
  color: white;
  border: 1px solid orange;
  border-radius: 5px;
  padding: 7px;
  font-size: 16px;
  cursor: pointer;
  margin: 20px auto;
}

.Delete--btn:hover {
  background-color: orange;
  color: white;
  border: 1px solid orange;
}
