.Delete--btn{
    -webkit-border-radius: 4;
     -moz-border-radius: 4;
     border-radius: 4px;
     text-shadow: 1px 1px 15px #666666;
     font-family: Arial;
     color: #ffffff;
     font-size: 1em;
        background: #1c50dd;
     border: solid #000000 1px;
     text-decoration: none;

 }

  .Delete--btn:hover{
    background-color: rgb(190, 136, 34);
    color: rgb(196, 131, 11) ;
    font-size: 20px;
    cursor: pointer;
  }
